# Configuration file for fw_(printenv/saveenv) utility.
# Up to two entries are valid, in this case the redundand
# environment sector is assumed present.

# MTD device name	Device offset	Env. size	Flash sector size
/dev/mtd4		0x0000		0x20000		0x20000
t/dev/mtd5		0x0000		0x20000		0x20000 # This causes device not found errors errors mabye this is FPGA?? 
# TODO: Check this on a real roborio
